---
const { headline, subheading } = Astro.props
---

<div class="block">
  <h1 class="text-xl sm:text-3xl lg:text-4xl tracking-[0.625em] flex items-center justify-center font-[Raleway]">{headline}</h1>
  <div class="bg-[#5271ff8e] h-[1.1em] sm:h-[1.6em] lg:h-[1.96em] min-w-[15em] max-w-[70%] mt-[-0.65em] sm:mt-[-0.8em] mr-auto mb-[1.875em] ml-auto" />
  <h3 class="text-lg flex items-center justify-center">{subheading}</h3>
</div>