---
const { headline, subheading } = Astro.props
---

<h1 class="bg-[#5271ff8e] text-4xl flex items-center justify-center">{headline}</h1>
<h3 class="text-lg flex items-center justify-center">{subheading}</h3>