---
---
<!-- <template> -->
  <nav class="sm:flex sm:flex-wrap sm:justify-between">
    <div class="px-4 pt-2 pb-1 flex justify-center sm:pb-2 sm:items-center sm:justify-between">
      <div>
        <a href="/" class="w-full text-gray-300 hover:text-white">Chris Scott</a>
      </div>
      <div class="hidden">
        <button type="button" id="navButton" class="block text-gray-300 hover:text-white">
          <svg class="h-6 w-6 fill-current stroke-current" viewBox='0 0 10 8' width='40'>
            <path fill-rule="evenodd" d='M1 1h8M1 4h 8M1 7h8' 
                  stroke-width='2' 
                  stroke-linecap='round'/>
          </svg>
        </button>
      </div>
    </div>
    <div class="px-2 pb-4 flex justify-center sm:pb-0 sm:items-center">
      <a href="https://ccsportfolio.com" class="block px-2 rounded text-gray-300 hover:text-white">Resume</a>
      <a href="/blog" class="block px-2 rounded text-gray-300 hover:text-white">Blog</a>
      <a href="/about" class="block px-2 rounded text-gray-300 hover:text-white">About</a>
    </div>
  </nav>
<!-- </template> -->
